@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Amatic SC', cursive !important;
  font-display: swap;
  font-size: 40px !important;
  line-height: 45px !important;
}
